/* Global Varibales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

h1 {
  font-size: 8rem;
}

h3{
  font-size: 2.5rem;
}

a {
  color: #ffffff;
}
a:visited {
  color: rgb(255, 255, 255);
}
a:hover {
    color: #ffffff;
}

nav {
  padding: 1rem;
  display: flex;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-around;
}

section {
  text-align: center;
}

/* hero section */
.hero-section{
  color: white;
}

.hero-section{
  height: 400px;
  display: flex;  
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("file:///C:/Users/grzet/OneDrive/Documents/github-projects/Titan-Coffee-Run/img/coffee-background.jpg");
}

.hero-textbox {
  margin: auto;
}

/* Introduction section */

.intro-section {
  display: flex;
  margin: 2rem;
}

.intro-picture {
  margin: 1rem;
  width: 400px;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("file:///C:/Users/grzet/OneDrive/Documents/github-projects/Titan-Coffee-Run/img/coffee-shop.png");
}

.intro-text {
  padding: 2rem;
  text-align: left;
}

footer {
  background-color: grey;
  color: white;
  width: 100%;
  display: flex;
  height: 50px;
  justify-content: space-around;
  text-align: center;
}

.row {
  display: flex;
  width: 500px;
  justify-content: center;
  margin: auto;
}

.error {
  color: rgb(255, 0, 0);
}

form {
  background-color: rgba(255, 255, 255, 0.151);
  width: 70%;
  margin: auto;
  padding: 2rem;
}

/* login page */

.resetLink {
  color: black;
  width: 100%;
  text-align: center;
  margin: auto;
}

.resetLink a {
  color: black;
}

.resetLink a:visited {
  color: black;
}

.resetLink a:hover {
    color: black;
}

/* Sales Section */

.sales-section{
  height: 850px;
  display: flex; 
  padding-bottom: 2rem;
  flex-direction: column; 
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("file:///C:/Users/grzet/OneDrive/Documents/github-projects/Titan-Coffee-Run/img/coffee-background.jpg");
}

#chartContainer {
  margin: auto;
}

.product {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.product img {
  height: 200px;
  width: 200px;
}

.center {
  margin: auto;
}

.menu h1{
  align-items: center;
  margin: auto;
}

/* table display */

#table-display{
  width: 100%;
  background-color: rgb(65, 39, 39);
}

#table{
  margin: auto;
  color: white;
}

#passwordReset{
    border: 1px outset  border;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
}

#cartDisplay {
  background-color: rgb(65, 39, 39);
  color: black;
  min-height: 200px;
  display: flex;
  margin: auto;
  justify-content: space-around;
  padding: 2rem;
  width: 100%;
}

#cartDisplay img{
  height: 200px;
  width: 200px;
}

#cartDisplay div{
  padding: 3rem;
}

.product-section{
  display: flex;
  justify-content: space-around;
}

.checkout-section{
  background-color: #ffffff;
  width: 800px;
  height: 500px;
}

.cart {
  padding: 3rem;
  margin: auto;
  background-color: rgba(148, 148, 148, 0.678); 
  width: 600px;
  display: flex;
  justify-content: space-around;
}